@font-face {
      font-family: "Noto Sans";
      src: url("../fuentes/Noto_Sans/NotoSans-Regular.ttf");
}

@font-face {
      font-family: "Roboto";
      src: url("../fuentes/Robotofont/Roboto-Regular.ttf");
}

body{
font-family: Roboto, Noto Sans,arial,sans-serif;
    background-color: rgba(161, 250, 236, 0.633);
    padding: 1%;
}
header{
    text-align:center;
    border-radius: 10px;
    margin-bottom: 10%;
}
#main{
    text-align:justify;
    padding:1%;
    background-color:#32dcd9;
    border-radius: 10px;
    
}
div.pregunta{
    background-color:rgb(255, 255, 255);
    padding: 1%;
    border-radius: 10px;
}
div.texto, header{
    background-color:#32cedc;
    padding: 2%;
    color: white;
}

.imagen{
      text-align: center;
}
.imagen img{
      width: 90%;
      max-height: 80vh;
      max-width: 95vh;
}


.opciones input{
      margin: 20px;     
}

/*
@media only screen and (max-width: 575px) {
      .opciones label{
            font-size:xx-large;
      }      

      .pregunta{
            font-size:xx-large;
      }
      .pregunta, header{
            font-size:x-large;
      }
      .opciones input{
            margin: 50px;     
      }
}
*/

.opciones label{
      font-size:x-large;
} 

/*
.pregunta:hover{
      background-color: azure;
      transition-delay:0.1s;
      
}
*/

.opciones img{
      width: 90%;
}



#divbotonenviar{
      text-align: center;
}

#botonenviar{
      border-radius: 10px;
      padding-left: 5%;
      padding-right: 5%;
      height: 100px;
      margin-bottom: 5%;
      font-size: xx-large;
      font-family: Roboto, Noto Sans,arial,sans-serif;
}


#botonvolver{
      background-color:azure;
      text-align: center;
      display: none;
      padding-top:10px;
      position: relative;
      width: 50%;
      height: 100px;
      left: 25%;
      border-radius: 10px;
      font-size: xx-large;
      
}
#botonvolver div{
      height: 100%;
}








/* Escritorio extra grande */
@media only screen and (min-width: 1200px){
      .modal-dialog{
            width: 50%;
            text-align: center;
            font-size: x-large;
      }
      
      
      #botonRevisar{
            width: 80%;
            height: 100px;
            margin-left: 10%;
      
            
      }
}
/* Escritorio grande */
@media only screen and (min-width: 992px) and (max-width: 1199px){
      .modal-dialog{
            width: 50%;
            text-align: center;
            font-size: x-large;
      }
      
      
      #botonRevisar{
            width: 80%;
            height: 100px;
            margin-left: 10%;
      
            
      }
}

/* Escritorio pequeño / tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){
      .modal-dialog{
            width: 80%;
            text-align: center;
            font-size:xx-large;
      }
      
      
      #botonRevisar{
            width: 90%;
            height: 100px;
            margin-left: 5%;
      
            
      }
}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px){
      .modal-dialog{
            width: 80%;
            text-align: center;
            font-size:xx-large;
      }
      
      
      #botonRevisar{
            width: 90%;
            height: 100px;
            margin-left: 5%;
      
            
      }
}

/* Teléfonos */
@media only screen and (max-width: 575px){
      .modal-dialog{
            width: 80%;
            text-align: center;
            font-size:xx-large;
      }
      
      
      #botonRevisar{
            width: 90%;
            height: 100px;
            margin-left: 5%;
      
            
      }
}

